* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1320px;
  width: auto;
  height: fit-content;
  margin: auto;
  /* border: 1px solid red; */
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: gainsboro;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 6px;
}
.d-flex > b {
  font-size: 30px;
  font-weight: 800;
  color: rgb(27, 27, 27);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.d-flex > p {
  color: rgb(61, 60, 60);
  padding: 10px;
  font-size: 17px;
}
.d-flex > p > a {
  color: rgba(248, 20, 20, 0.884);
  padding: 10px;
  margin-left: 421px;
  font-size: 17px;
  text-decoration: none;
}
.box {
  width: auto;
  padding: 30px;
}
.box > a > img {
  border-radius: 7px;
}
.p{
    max-width: 1320px;
   width: 800px;
    margin: auto;
  
}
.p > button {
  font-size: 22px;
  background-color: rgb(199, 195, 195);
  color: rgb(61, 61, 61);
  border: 1px solid gray;
  border-radius: 6px;
  margin: 10px;
}

.img{
  width: 1200px;
  height: fit-content;
  margin-left: 330px;
  font-size: 40px;
}
.card-img-top{
  width: 310px;
  height: 210px;
  border-radius: 10px;
  
}
.cardd{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 1500px;
  margin: auto;
  padding: 70px;
  gap: 20px;
}
.card1{
  width: 1100px;
  margin: auto;
  gap: 30px;
}
